<a href="https://colab.research.google.com/github/medeirosleandro/portifolio_data_science/blob/main/Manipula%C3%A7%C3%A3o_B%C3%A1sica_CSV_Usando_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importar a biblioteca Pandas para manipulação de arquivos

import pandas as pd

In [4]:
#Lendo um arquivo csv e atribuindo à variável df


df = pd.read_csv('https://raw.githubusercontent.com/medeirosleandro/archives/main/IRBR3.SA.csv')

In [11]:
#Listar as 5 primeiras linhas do arquivo (Caso queria exibir um numero maior basta informar a quantidade como parametro, exemplo df.head(10))
df.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  2020-01-02  36.040466  37.029266  35.587650  36.862926  35.231285  4631027.0
1  2020-01-03  36.086670  37.010784  36.086670  36.576450  34.957485  3850064.0
2  2020-01-06  36.594933  36.724308  35.827919  36.234528  34.630703  5162780.0
3  2020-01-07  36.253010  36.539486  35.911091  36.474796  34.860336  3330431.0
4  2020-01-08  36.502522  36.752033  36.049706  36.613415  34.992821  3299266.0

In [ ]:
#Listar as 5 últimas linhas do arquivo

df.tail()

           Date  Open  High   Low  Close  Adj Close       Volume
243  2020-12-22  7.20  7.29  7.09   7.19       7.19   27814400.0
244  2020-12-23  7.25  7.59  7.19   7.24       7.24   72652900.0
245  2020-12-28  7.48  8.19  7.38   8.11       8.11  168623400.0
246  2020-12-29  8.21  8.52  7.83   8.21       8.21  152705900.0
247  2020-12-30  8.21  8.46  8.06   8.18       8.18   97979200.0

In [5]:
#Para confirmar o tipo da variavel df
type(df)

pandas.core.frame.DataFrame

In [7]:
#para saber o tamanho do DataFrame (No exemplo usado aqui, são 248 linhas e 7 colunas)
df.shape

(248, 7)

In [8]:
#para indentificar os nomes das colunas
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [9]:
#Para identificar o tipo das variáveis de cada coluna
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [12]:
#Outra maneira de verificar o tipo das variáveis é através do método df.info(), ele também exibe os valores ausentes nas células.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       248 non-null    object
 1   Open       247 non-null    float64
 2   High       247 non-null    float64
 3   Low        247 non-null    float64
 4   Close      247 non-null    float64
 5   Adj Close  247 non-null    float64
 6   Volume     247 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.7+ KB

In [23]:
#Para selecionar uma coluna especifica
df['Open']
#Outra forma de seleciona uma coluna caso ela não possua espaços em seu nome é df.Open

0      36.040466
1      36.086670
2      36.594933
3      36.253010
4      36.502522
         ...
243     7.200000
244     7.250000
245     7.480000
246     8.210000
247     8.210000
Name: Open, Length: 248, dtype: float64

In [24]:
df.Open

0      36.040466
1      36.086670
2      36.594933
3      36.253010
4      36.502522
         ...
243     7.200000
244     7.250000
245     7.480000
246     8.210000
247     8.210000
Name: Open, Length: 248, dtype: float64

In [22]:
#calcula a média da coluna "Open"
df.Open.mean()

12.839092149797573

In [27]:
#Caso o arquivo possua datas com Dtype Object, como no caso do csv usado aqui, onde o formato é string,
#que não permite uma manipulação eficiente. Será necessária a conversão 
df.Date

0      2020-01-02
1      2020-01-03
2      2020-01-06
3      2020-01-07
4      2020-01-08
          ...
243    2020-12-22
244    2020-12-23
245    2020-12-28
246    2020-12-29
247    2020-12-30
Name: Date, Length: 248, dtype: object

In [28]:
#Converter coluna Date em datetime
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")

In [29]:
df.Date

0     2020-01-02
1     2020-01-03
2     2020-01-06
3     2020-01-07
4     2020-01-08
         ...
243   2020-12-22
244   2020-12-23
245   2020-12-28
246   2020-12-29
247   2020-12-30
Name: Date, Length: 248, dtype: datetime64[ns]

In [30]:
#Acessando componetes da data após conversão
df.Date.dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
243    2020
244    2020
245    2020
246    2020
247    2020
Name: Date, Length: 248, dtype: int64

In [33]:
df.Date.dt.quarter

0      1
1      1
2      1
3      1
4      1
      ..
243    4
244    4
245    4
246    4
247    4
Name: Date, Length: 248, dtype: int64